.introCard {
  position: relative;
  min-width: 100dvw;
  height: 100dvh;
  z-index: 1;
}

@media (min-width: 768px) {
  .introCard {
    height: 100%;
  }
}

.bigText {
  font-size: clamp(2rem, 40vw, 70rem);
  line-height: 80%;
  font-family: "Fat", sans-serif;
}

.introGroup {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  padding:1vw 2.5vw;
}


.projectTitle {
  font-family: "Fat", sans-serif;
  font-style: normal;
  font-size: clamp(3.5rem, 11vw, 14rem);
  line-height: 1;
  text-transform: uppercase;
}

.introText {
  font-family: "Dudu";
  display: flex;
  align-items: center;
  margin: 0;
  position: relative;
  z-index: 1;

  &:first-child {
    margin-bottom: -1.2em;
  }

  font-size: clamp(1rem, 5vw, 30rem);
  svg {
    width: 4dvw;
    line-height: 0;
    margin-left:2vw;
  }
}
